/* Add custom CSS styles here */
body {
  background-size: cover;
  background-position: center;
  color: white; /* Set text color to white for the whole page */
}

#charts {
  color: white; /* Set text color to white for elements with ID "charts" */
}

#story-box {
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white; /* Set text color to white for elements with ID "story-box" */
}

#wreck-name {
  font-size: 24px;
  font-weight: bold;
}

#story-content {
  margin-top: 10px;
}

#story-content p {
  margin-bottom: 10px;
}

#story-content strong {
  font-weight: bold;
}

#story-content span {
  font-weight: normal;
}

/* Additional style for the charts box */
.charts {
  color: white;
}

/* Add a left margin to the map box */
#map {
  height: 100%;
  width: 100%;
  margin-left: 20px; /* Adjust the value to control the gap size */
}

.btn-block {
  height: 80px;
  font-size:50px
}